body{
    height:fit-content;

}
.screen-cover{
    height:125vh;
}
.resume-container{
    position: absolute;
    left:30%;
    top:10%;
    padding:1vw;
    text-align: justify;
    background-color: #0e0f14c4;
    width:40%;
    height:100vh;
    font-size: 1.5vh;
    color: silver;
}
.languages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.navLink-email{
    color:#126c64;
}
.navLink-download{
    position: fixed;
   top:2%;
    left:3%;
    z-index: 2;
    font-size: 2vh;
    padding-top: 1vh;
}